*{
margin: 0px;
box-sizing: border-box;
}

p{
    font-size: 15px;
    max-width: 28ch;
    text-align: center;
}

.font-outfit-400{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--Grayish_blue);
}

.font-outfit-700{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: var(--Dark_blue);
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}


body{
    display: grid;
    height: 100vh;
    background-color: var(--Light_gray);
} 


